@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Documentação do Projeto Elevador</h2>
</div>
<!--
<titulo4 class="page">
    <div id="linhaSuperior">&nbsp;</div>
-->
<div id="paragrafoE">
    <p>Este é um projeto de conclusão do curso Formação MS-DEV da Ocean Samsung.</p>
    <p>
        O curso desenvolveu-se entre 29/11/2021 e 21/12/2021, somando 35 horas.</br>
        O curso foi ministrado pelo prof. Paulo Salvatore, Introdução e Resolvendo Desafios e pelo prof. Lucas Aragão cobrindo
        os tópicos: Programação em C#, Backend e serviços na nuvem da Microsoft Azure e Plataforma Microsoft e Projeto Final.
    </p>
    <p>
        A aplicação desenvolvida.</br>
        nome: Projeto Elevador</br>
        descrição: Gerenciador de elevador</br>
        linguagem: Microsoft C# </br>
        desenvolvido no Microsoft Visual Studio Community (2019)</br>
        data do lançamenro: Dezembro/2021</br>
        versão: 1.0.2</br>
        autor: J. Roberto Nogueira Santos</br />
        email: <a href="mailto:jorns001@gmail.com">jorns001@gmail.com</a>
        <!--<div id="linhaInferior">&nbsp;</div> -->
    </p>
</div>
</br>
<div id="titulo4"><titulo4>Apresentação</div>
<p>
    A aplicação tem como objetivo Controlar um elevador.</br>
    Possui as seguintes opções apresentadas em um Menu</br>
    <img src="imgs/tela_Menu.png" /></br>
    </br>
    <div id="titulo4"><titulo4>Funções do aplicativo</div>
    <ul id="listaS">
        <li id="listaS">
            Inicializar
            <ul><li>Inicializa os parâmetros básicos da aplicação (número de andares no prédio e capacidade do elevador). Informados pelo usuário na inicialização.</li></ul>
        </li>
        <img src="imgs/telaInicial.png" />
        <li>
            Entrar
            <ul><li>Coloca pessoas no elevador até a capacidade máxima informada pelo usuário na inicialização.</li></ul>
        </li>
        <img src="imgs/tela_EntrarNoElevador.png" />
        <li>
            Sair
            <ul><li>Tira pessoas do elevador, enquanto número de pessoas maior ou igual a 1.</li></ul>
        </li>
        <img src="imgs/tela_SairDoElevador.png" />
        <li>
            Subir
            <ul><li>Sobe um andar se o elevador não estiver no último andar.</br />Mostra uma mensagem se já estiver.</li></ul>
        </li>
        <img src="imgs/tela_SubirUmAndar.png" />
        <li>
            Descer
            <ul><li>Desce  um andar se o elevador não estiver no térreo.</br>Mostra uma mensage se já estiver.</li></ul>
        </li>
        <img src="imgs/tela_DescerUmAndar.png" />
        <li>
            Painel do elevador
            <ul><li>Mostra as informações de Quantidade de pessoas no elevador, andar onde o elevador se encontra, e a quantidade de andares no prédio.</li></ul>
        </li>
        <img src="imgs/tela_PainelDoElevador.png" />
        <li>
            Finalizar
            <ul><li>Sai da aplicação</li></ul>
        </li>
    </ul>
</p>
<div id="titulo4"><titulo4>Instruções de uso</div>
</br></br>
<div id="paragrafoE">
    <p>A aplicação inicia solicitando ao usuário que informe o número de andares no prédio e a capacidade do elevado.</p>
    <p>A Aplicação inicializa as variáveis da classe elevador.</p>
    <p>Logo após, apresenta o menu com as opções disponíveis ao usuário:</p>
    <p>Cada opção chama um método da classe elevador para executar a ação desejada.</p>
</div>
